.gitignore
dataset/train/images/*.jpg
dataset/train/labels/*.txt
dataset/val/images/*.jpg
dataset/val/labels/*.txt
runs/detect/bib_detector_v15/*.jpg
runs/detect/bib_detector_v17/results.csv
runs/detect/bib_detector_v17/*.jpg
dataset/test.jpg
dataset/train/labels.cache
runs/detect/bib_detector_v17/weights/best.pt
runs/detect/bib_detector_v17/weights/last.pt
dataset/val/labels.cache
dataset/8.jpg
dataset/train/images/*.jpg
dataset/train/labels*.jpg
dataset/val/images/*.jpg
dataset/val/labels/*.jpg
__pycache__/database.cpython-313.pyc
best.pt
kosu_1.MP4
Kosu1.mp4
kosu2.MP4
yolo11n.pt
runs/detect/bib_detector_v18/results.csv
runs/detect/bib_detector_v18/train_batch0.jpg
runs/detect/bib_detector_v18/train_batch1.jpg
runs/detect/bib_detector_v18/train_batch2.jpg
runs/detect/bib_detector_v18/val_batch0_labels.jpg
runs/detect/bib_detector_v18/val_batch0_pred.jpg
runs/detect/bib_detector_v18/val_batch1_labels.jpg
runs/detect/bib_detector_v18/val_batch1_pred.jpg
runs/detect/bib_detector_v18/val_batch2_labels.jpg
runs/detect/bib_detector_v18/val_batch2_pred.jpg
runs/detect/bib_detector_v18/weights/last.pt
dataset/finish_line.mp4
dataset/image_11.jpg
dataset/image_61.jpg
__pycache__/database.cpython-313.pyc
test.mp4
finish_line.mp4
__pycache__/database.cpython-313.pyc
