.gitignore
dataset/train/images/*.jpg
dataset/train/labels/*.txt
dataset/val/images/*.jpg
dataset/val/labels/*.txt
runs/detect/bib_detector_v15/*.jpg
runs/detect/bib_detector_v17/results.csv
runs/detect/bib_detector_v17/*.jpg
dataset/test.jpg
runs/detect/bib_detector_v17/weights/best1.pt
dataset/train/label1s.cache
runs/detect/bib_detector_v17/weights/las1t.pt
